<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            About To Do list
        </h1>
    </div>
    <div class="box" id="heading">
        <span>
            The To Do List is a simple project made by a node.js and ejs
        </span>
        <span>
            To create a new list, simply jump to a new route in URL
        </span>
    </div>
    <div class="all-routes">
        <div class="all-routes-title">
            Go Back to Home
        </div>
        <div class="all-routes-body">
            <a href="/">Home</a>
        </div>
    </div>
    <%- include("footer") -%>